*.obj
*.mtl
*.blend
*.blend1

#OpenLane runs
runs/
*.gds
*.lef
*.def
*.spef
*.sdf
*.lib
*.mag

#Python cache
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

#Simulations
sim_build/

#Large mem files
test/mwi_signal.mem
test/ecg_input_100.mem

.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v